

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [108]:
x=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [109]:
y=range(7)
list(y)

[0, 1, 2, 3, 4, 5, 6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [110]:
n=len(y)
print(n)

7

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [111]:
print(y[0])
print(y[int((n-1)/2)])
print(y[n-1])

0
3
6

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [112]:
mixed_data_types = ['Babacar',28,'1m75','homme','Dakar']
type(mixed_data_types)

list

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [113]:
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)
print("-----------------------------------------------------------------------")
m=len(it_companies)
print("La longueur est : ",m)
print("------------------------------------------------------------------------")
print(it_companies[0],it_companies[int((n-1)/2)],it_companies[m-1])
print("------------------------------------------------------------------------")
it_companies[4]='mycompa'
print(it_companies)
print("--------------------------------------------------------------------------")
it_companies.append('Aims')
print(it_companies)
print("--------------------------------------------------------------------------")
it_companies.insert(int((n-1)/2),'Senegal')
print(it_companies)
print("----------------------------------------------------------------------------")
majus=it_companies[2].upper()
print(majus)
print("--------------------------------------------------------------------------")

if 'Google' in it_companies:
    print('Google est dans la liste')
else:
    print('Google n\'est pas dans la liste')
print("------------------------------------------------------------------------")    
it_companies.sort()   # Trier la liste
print(it_companies)
print("------------------------------------------------------------------------")
it_companies.reverse()
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
-----------------------------------------------------------------------
La longueur est :  7
------------------------------------------------------------------------
facebook Apple Amazon
------------------------------------------------------------------------
['facebook', 'Google', 'Microsoft', 'Apple', 'mycompa', 'Oracle', 'Amazon']
--------------------------------------------------------------------------
['facebook', 'Google', 'Microsoft', 'Apple', 'mycompa', 'Oracle', 'Amazon', 'Aims']
--------------------------------------------------------------------------
['facebook', 'Google', 'Microsoft', 'Senegal', 'Apple', 'mycompa', 'Oracle', 'Amazon', 'Aims']
----------------------------------------------------------------------------
MICROSOFT
--------------------------------------------------------------------------
Google est dans la liste
------------------------------------------------------------------------
['Aims', 'Amazon', 'Apple', 'Google', 'Microsoft', 'Oracle', 'Senegal', 'facebook', 'mycompa']
------------------------------------------------------------------------
['mycompa', 'facebook', 'Senegal', 'Oracle', 'Microsoft', 'Google', 'Apple', 'Amazon', 'Aims']

In [114]:
# Supprimer les 3 premiers entreprises
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[0:3]
print(it_companies)

['Apple', 'IBM', 'Oracle', 'Amazon']

In [115]:
# Supprimer les 3 dernières entreprises
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[-3:]
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple']

In [116]:
#Supprimer l'entreprise aux milieux
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[int(len(it_companies)/2)]
print(it_companies)

['facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [117]:
#Supprimer la 1ere entreprise
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[0]
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [118]:
# retirer la derniere entreprise
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[-1]
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [119]:
# Supprimer toutes les entreprises
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[0:]
print(it_companies)

[]

In [120]:
# Détruire la liste
it_companies=['facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.clear()
print(it_companies)

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [121]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
com = front_end+back_end
com

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [122]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() 
print(ages) # triage de la liste
x=max(ages) # age maximal
print('l\'age maximale est ',x)   
y=min(ages) #age minimal
print('l\'age minimale est ',y)    
ages.extend([x,y]) # Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste
med=ages[int(len(ages)/2)] # Trouvez l'âge médian
print('l\'age mediane est ',med)
g=sum(ages)/len(ages)
print('l\'age moyenne est ',g)    
print('l\'intervalle d\'age est ',x,g,y)   
compar1=abs(y-g)
compar2=abs(x-g)
print("La valeur min-moyenne donne ",compar1)
print("La valeur max-moyenne donne ",compar2)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
l'age maximale est  26
l'age minimale est  19
l'age mediane est  24
l'age moyenne est  22.75
l'intervalle d'age est  26 22.75 19
La valeur min-moyenne donne  3.75
La valeur max-moyenne donne  3.25

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [123]:
dog={}

In [124]:
dog['nom']='BoulDog'
dog['couleur']='Blanche'
dog['race']='Caniche'
dog['pattes']=4
dog['age']=7
print(dog)
type(dog)

{'nom': 'BoulDog', 'couleur': 'Blanche', 'race': 'Caniche', 'pattes': 4, 'age': 7}

dict

In [125]:
student={}
student['Prenom']='Babacar'
student['Nom']='Diaw'
student['Sexe']='Homme'
student['Age']=15
student['Etat civil']='Single'
student['Competences']=["computing","sport","killer"]
student['Pays']='Senegal'
student['Ville']='Dakar'
student['Adresse']='Fass Mbao'
n=len(student)
print('la logueur du dictionnaire est ',n)

la logueur du dictionnaire est  9

In [126]:
student.get('Competences')
print(type(student['Competences']))
student['Competences'].append('hacker')
print(student)

<class 'list'>
{'Prenom': 'Babacar', 'Nom': 'Diaw', 'Sexe': 'Homme', 'Age': 15, 'Etat civil': 'Single', 'Competences': ['computing', 'sport', 'killer', 'hacker'], 'Pays': 'Senegal', 'Ville': 'Dakar', 'Adresse': 'Fass Mbao'}

In [127]:
cles=list(student.keys())
print(cles)
print(type(cles))

['Prenom', 'Nom', 'Sexe', 'Age', 'Etat civil', 'Competences', 'Pays', 'Ville', 'Adresse']
<class 'list'>

In [128]:
valeurs=list(student.values())
print(valeurs)
print(type(valeurs))

['Babacar', 'Diaw', 'Homme', 15, 'Single', ['computing', 'sport', 'killer', 'hacker'], 'Senegal', 'Dakar', 'Fass Mbao']
<class 'list'>

In [129]:
student.items() # transformation diction en liste de tuples

dict_items([('Prenom', 'Babacar'), ('Nom', 'Diaw'), ('Sexe', 'Homme'), ('Age', 15), ('Etat civil', 'Single'), ('Competences', ['computing', 'sport', 'killer', 'hacker']), ('Pays', 'Senegal'), ('Ville', 'Dakar'), ('Adresse', 'Fass Mbao')])

In [130]:
del student['Etat civil']
print(student)

{'Prenom': 'Babacar', 'Nom': 'Diaw', 'Sexe': 'Homme', 'Age': 15, 'Competences': ['computing', 'sport', 'killer', 'hacker'], 'Pays': 'Senegal', 'Ville': 'Dakar', 'Adresse': 'Fass Mbao'}

In [131]:
dog.clear()
print(dog,type(dog))

{} <class 'dict'>

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>